html{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
    user-select: none;
    font-family: 'Cousine', Courier New, monospace;
}

ul{
    display: inline-flex;
}

#calc-container{ 
  display: flex;
  justify-content: center; 
}

#calc-body{
    position: relative;
    background: #bdc3c7;
    padding: 1rem;
}

#screen{    
    background: black;
    color: white;
    text-align: right;
    font-size: 3em;
    width: 24rem;
    min-height: 3rem;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;   
}

#disp-op{
    position: absolute;
    top: 3rem;
    left: 2rem;
    color: white;
}

#btn-numbers{
    float: left;    
}

#btn-operations{
    border-left:2px solid #323A45;
    float: left;
    padding: 0 10px;         
}

#bottom{
    clear: both;
}

.button{
    padding: 15px 20px;
    margin:  5px 7px;
    font-size: 2em;
    border-radius: 10%;     
}

.btn-num{
    background-color: #00AFD1;
}

.btn-op{
    background-color:#F27935;
}

.btn-fn{
    background-color: #D64541;
    min-width: 3rem;
    max-width: 3rem;
}

.btn-num:hover{
    background: #05d6ff;
}

.btn-op:hover{
    background: #f59965;
}

.btn-fn:hover{
    background: #df6e6b;
}

.button:active{
    background: #2980b9;
}

.sm-text{
    font-size: 1.2em;
}

.md-text{
    font-size: 1.5em;
}

@media (max-width:600px){
  .button{
    padding: 5px 10px;
    margin:  3px 4px;
    font-size: 1em; 
  }

  .btn-fn{
    min-width: 2rem;
    max-width: 2rem;
  }

  #screen{    
    font-size: 2em;
    width: 230px;
    min-height: 2rem;
    margin: 8px;
    padding: 5px 10px; 
  }

  #disp-op{
    top: 2.5rem;
    left: 2rem;
  }

  #btn-numbers{
    padding-left: 1rem;
  }
}

@media (max-width:360px) {
  #btn-numbers{
    padding-left: 1rem;
  }
}
